<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- HIER IHREN GOOGLE-TAG EINFÜGEN -->
 <meta name="google-site-verification" content="xD0DsilCEEJgNfVp8g1BUFG4DBpMkjgmssLLVvV8kkc" />

  <title>Netzwerk-Scanner Pro</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>
<body>
  <div class="container-lg px-3 my-5 markdown-body">
    {{ content }}
  </div>
</body>
</html>
